// My resets----------------------
@import 'vars.scss' ;
@import 'mixins.scss' ;
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
   
}
ul,li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

// My container----------------------
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}
//
nav {
    height: 80px;
    padding: 0 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2B2B2B ;

    img {
        cursor: pointer;
    }
    .left {
        width: 100%;
        max-width: 696px;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            
            color: white;
            cursor: pointer;
        }
        .links{
            display: flex;
            align-items: center;
            max-width: 513px;
            width: 100%;
           
            justify-content: space-between;
            color: white;
            a {
                color: white;
            }
            
        }
    }

}

.chip {
    width: 100% ;
    max-width: 95px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1976d3;
    background-color: white;
    padding: 15px 70px;
    color: #1976d3;
    cursor: pointer;
    margin-bottom: 15px;
}
.todays-pick {
    width: 100%;
    .container 
    {
        padding: 160px 0 60px 0;
        display: flex ;
        flex-direction: column;
        h2 {
            margin-bottom: 30px;
            font-weight: 500;
            font-size: 24px;
            color: $black-font;
        }
        img{
            width: 100%;
            margin-bottom: 20px;
        }
        p {
            color: #2B2B2B;
            font-weight: 400;
            font-size: 16px;
            opacity: 0.4;
            line-height: 24px;
            margin-bottom: 20px;

        }
        .article {
            max-width: 800px;
        }
        a{
            text-decoration: underline;
            color: #197ede;
        }
        

    }
    

}
.two-posts {
    width: 100%;
    .container 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .small-cart{
            width: 470px;
        }
    }
}

.trending-topics {
    .container {
        padding-top: 100px;
        h2 {
            font-size: 24px;
            font-weight: 500;
            color: $black-font;
            margin-bottom: 30px;
        }
        
        
        .small-cards {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .small-cart {
                @include small-card ;
            }
            
           
        }
    }
}
.for-button {
    

    button {
        margin: 160px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #1976d3;
        width: 200px;
        height: 60px;
        border-radius: 4px;
        color: white    ;
        font-size: 21pxs;
        cursor: pointer;
        letter-spacing: 1px;
    }
}

footer {
    width: 100%;
    .container {
        padding: 100px 0;
    }
}